{% load i18n %}{% autoescape off %}

<html>
	<head>
		<title>HTML email</title>
	</head>
	<style>
		
	</style>
	<body>
		<table style="background: #eee; box-shadow: 0px 0px 8px 1px #ccc; border-spacing: 0; font-family: monospace;">
			<tr>
				<th style="background: #ff6968; padding: 10px;">
					<h2 style="margin: 0px; color: #ffffff;">Reset Your Password</h2>
				</th>
			</tr>
			<tr>
				<td style="padding: 20px 10px;">
					<p>Please click on the button below to reset your password</p>
				</td>
			</tr>
			<tr>
				<td style="padding: 28px; text-align: center;">
					<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="text-align: center; border: none; padding: 8px 12px; color: #fff; font-size: 18px; font-weight: bold; border-radius: 3px; background-image: linear-gradient(to right, #f90014, #763a87); text-decoration: none; line-height: 34px;">Click Here</a>
				</td>
			</tr>
		</table>
	</body>
</html>

{% endautoescape %}


