{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Training</title>
    <!-- <link rel="manifest" href="manifest.json"> -->
    <link rel="icon" type="image/png" sizes="56x56" href="{% static 'admin_panel/img/logo1.png' %}">
    <!-- <link rel="mask-icon" href="safari-pinned-tab.svg" color="#2c3e50"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

    <link rel="stylesheet" href="{% static 'admin_panel/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="{% static 'admin_panel/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/css/elephant.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/css/application.min.css' %}">
    <!-- <link rel="stylesheet" href="css/profile.min.css"> -->
    <!-- <link rel="stylesheet" href="css/product.min.css"> -->
    <link rel="stylesheet" href="{% static 'admin_panel/css/demo.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker.min.css">
    <link rel="stylesheet" href="{% static 'admin_panel/css/iEdit.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/css/style.css' %}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  </head>
  <body class="layout layout-header-fixed">
    <div class="layout-header">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-center" href="index.php">
            <img class="navbar-brand-logo" src="{% static 'admin_panel/img/logo2.png' %}" alt="Elephant">
          </a>
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
            <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
          </button>
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="arrow-up"></span>
            <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="{% static 'admin_panel/img/0180441436.jpg' %}" alt="Teddy Wilson">
            </span>
          </button>
        </div>
        <div class="navbar-toggleable">
          <nav id="navbar" class="navbar-collapse collapse">
            <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
            </button>
            <ul class="nav navbar-nav navbar-right">

              <li class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-bell-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">7</span>
                  </span>
                  <span class="visible-xs-block">
                    <span class="icon icon-bell icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">7</span>
                    Notifications
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                  <div class="dropdown-header">

                    <h5 class="dropdown-heading">Recent Notifications</h5>
                  </div>
                  <div class="dropdown-body">
                    <div class="list-group list-group-divided custom-scrollbar">
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">35 min</small>
                            <h5 class="notification-heading">Update Status</h5>
                            <p class="notification-text">
                              <small class="truncate">Failed to get available update data. To ensure the proper functioning of your application, update now.</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <span class="icon icon-flag bg-success rounded sq-40"></span>
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">43 min</small>
                            <h5 class="notification-heading">Account Contact Change</h5>
                            <p class="notification-text">
                              <small class="truncate">A contact detail associated with your account teddy.wilson, has recently changed.</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">1 hr</small>
                            <h5 class="notification-heading">Failed Login Warning</h5>
                            <p class="notification-text">
                              <small class="truncate">There was a failed login attempt from "192.98.19.164" into the account teddy.wilson.</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="{% static 'admin_panel/img/0310728269.jpg' %}" alt="Daniel Taylor">
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">4 hr</small>
                            <h5 class="notification-heading">Daniel Taylor</h5>
                            <p class="notification-text">
                              <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="{% static 'admin_panel/img/0872116906.jpg' %}" alt="Emma Lewis">
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">8 hr</small>
                            <h5 class="notification-heading">Emma Lewis</h5>
                            <p class="notification-text">
                              <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="{% static 'admin_panel/img/0601274412.jpg' %}" alt="Sophia Evans">
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">8 hr</small>
                            <h5 class="notification-heading">Sophia Evans</h5>
                            <p class="notification-text">
                              <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="{% static 'admin_panel/img/0180441436.jpg' %}" alt="Teddy Wilson">
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">9 hr</small>
                            <h5 class="notification-heading">Teddy Wilson</h5>
                            <p class="notification-text">
                              <small class="truncate">Published a new post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="dropdown-footer">
                    <a class="dropdown-btn" href="notification.php">See All</a>
                  </div>
                </div>
              </li>
              <li class="dropdown hidden-xs">
                <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                  <img class="rounded" width="36" height="36" src="{% static 'admin_panel/img/0180441436.jpg' %}" alt="Teddy Wilson"> Teddy Wilson
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="/ad/accounts/profile/">Profile</a></li>
                  <li><a href="/ad/accounts/logout/">Sign out</a></li>
                </ul>
              </li>

              <li class="visible-xs-block">
                <a href="contacts.html">
                  <span class="icon icon-users icon-lg icon-fw"></span>
                  Contacts
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="/ad/accounts/profile/">
                  <span class="icon icon-user icon-lg icon-fw"></span>
                  Profile
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="/ad/accounts/logout/">
                  <span class="icon icon-power-off icon-lg icon-fw"></span>
                  Sign out
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="layout-main">
      <div class="layout-sidebar">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
          <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
              <ul class="sidenav">
                <li class="sidenav-heading">Navigation</li>
                <li class="sidenav-item dashboardPageNav">
                  <a href="/ad/accounts/home/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-home"></span>
                    <span class="sidenav-label">Dashboard</span>
                  </a>
                </li>
                <li class="sidenav-item profilePageNav">
                  <a href="/ad/accounts/profile/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-user"></span>
                    <span class="sidenav-label">Profile</span>
                  </a>
                </li>
                <li class="sidenav-item has-subnav accountNav">
                  <a href="#" aria-haspopup="true" aria-expanded="true">
                    <span class="sidenav-icon icon icon-users"></span>
                    <span class="sidenav-label">Account management</span>
                  </a>
                  <ul class="sidenav-subnav collapse" aria-expanded="true" style="">
                    <li class="accNav-a"><a href="/ad/user_management/mentee/">Mentee</a></li>
                    <li class="accNav-b"><a href="/ad/user_management/mentor/">Mentor</a></li>
                  </ul>
                </li>
                <li class="sidenav-item categoryPageNav">
                  <a href="category.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-gear"></span>
                    <span class="sidenav-label">Category Management</span>
                  </a>
                </li>
                <li class="sidenav-item productPageNav">
                  <a href="product-management.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-shopping-cart"></span>
                    <span class="sidenav-label">Product Management</span>
                  </a>
                </li>
                <li class="sidenav-item postmanagementPageNav">
                  <a href="post-management.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-list"></span>
                    <span class="sidenav-label">Post Management</span>
                  </a>
                </li>
                <li class="sidenav-item invoicePageNav">
                  <a href="invoice-management.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-align-left"></span>
                    <span class="sidenav-label">Invoice Management</span>
                  </a>
                </li>
                <li class="sidenav-item subscriptionPageNav">
                  <a href="subscription-management.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-comment"></span>
                    <span class="sidenav-label">Subscription Management</span>
                  </a>
                </li>
                <li class="sidenav-item trainingPageNav">
                  <a href="training-management.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-edit"></span>
                    <span class="sidenav-label">Training Management</span>
                  </a>
                </li>
                <li class="sidenav-item paymentPageNav">
                  <a href="payment-management.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-credit-card"></span>
                    <span class="sidenav-label">Payment Management</span>
                  </a>
                </li>
                <li class="sidenav-item reportgenerationPageNav">
                  <a href="report-generation.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-file"></span>
                    <span class="sidenav-label">Report Generation</span>
                  </a>
                </li>
                <li class="sidenav-item settingsPageNav">
                  <a href="settings.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-wrench"></span>
                    <span class="sidenav-label">Settings</span>
                  </a>
                </li>
                <li class="sidenav-item spamPageNav">
                  <a href="report-spam.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-clipboard"></span>
                    <span class="sidenav-label">Report and Spam</span>
                  </a>
                </li>
                <li class="sidenav-item subadminPageNav">
                  <a href="subadmin.php" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-user-plus"></span>
                    <span class="sidenav-label">Sub-admin Account Management</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
