<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Page1</h3>
    <ul>
      {% for q in messages %}
        <li>{{q.text}}</li>
      {% endfor %}
    </ul>
    <form class="" action="" method="post">
      {% csrf_token %}
      Text: <input type="text" name="txtText" value=""><br><br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>

  <script>
    // console.log(window.location)
    var loc = window.location
    var wsStart = 'ws://'
    if(loc.protocol == 'https:'){
      wsStart='wss://'
    }
    var endpoint = "ws://15.206.6.112/socket/update_online_status/"
    var socket = new WebSocket(endpoint)
    socket.onmessage = function(e){
      console.log('message',e)
    }
    socket.onopen = function(e){
      console.log('open',e)
    }
    socket.onerror = function(e){
      console.log('error',e)
    }
    socket.onclose = function(e){
      console.log('close',e)
    }
  </script>
</html>
