{% load staticfiles %}
{% include 'base/header.html' %}
<div class="profilePage"></div>
<div class="layout-content">
    <div class="layout-content-body">
        <div class="title-bar">

            <h1 class="title-bar-title">
              <span class="d-ib">Change Password</span>
            </h1>
        </div>

        <div class="row gutter-xs">


            <div class="col-md-8 card panel-body  " id="">
                <div class="col-sm-12 col-md-12">

                    <div class="demo-form-wrapper">
                        <form class="form form-horizontal" method="POST" enctype='multipart/form-data' action='/ad/accounts/change_password/'>
                          {% csrf_token %}
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="" class=" control-label">Old Password</label>
                                    <input id="" class="form-control" type="password" name='oldpassword' minlength="8" data-msg-minlength="Password must be 8 characters or more." data-msg-required="Please enter your password." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="" class=" control-label">New Password</label>
                                    <input id="" class="form-control" type="password" name='password' minlength="8" data-msg-minlength="Password must be 8 characters or more." data-msg-required="Please enter your password." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="" class=" control-label">Confirm Password</label>
                                    <input id="" class="form-control" type="password" name='confpassword' minlength="8" data-msg-minlength="Password must be 8 characters or more." data-msg-required="Please enter your password." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-8  col-md-8 ">

                                    <!-- Button trigger modal -->
                                    <button type="submit" class="btn btn-primary btn-block">
                                      <!-- data-toggle="modal" data-target="#exampleModalLong" -->
                                      Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div>
                          {% if form.errors %}
          				          <br>
           				          <p style="color:red; margin-left: 150px">{{ form.non_field_errors.as_text |cut:"* "}}</p>
            			          {% endif %}
            			          {% if messages %}
            			            {% for message in messages %}
            			              <p style="color:green;text-align: center;">{{message}}</p>
						                  {% endfor %}
						                {% endif %}
                        </div>
                </div>

            </div>
        </div>

    </div>

</div>
</div>
<!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body" data-dismiss="modal">
                    <h4>Password has been changed successfully.</h4>
                    <div class="successful-icon">
                        <i class="far fa-check-square"></i>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Modal END-->

{% include 'base/footer.html' %}
