{% load staticfiles %}
      {% include 'base/header.html' %}
      <div class="profilePage"></div>
      <div class="layout-content">
       <div class="row gutter-xs">
          <div class="profile-box">
              <div class="card text-center">
                <div class="card-image">
                  <div class="overlay">
                    <div class="overlay-gradient">
                      {% if background_image %}
                        <img class="card-img-top img-responsive" src="{{background_image.url}}">
                      {% else %}
                        <img class="card-img-top img-responsive" src="{% static 'admin_panel/img/7808910503.jpg' %}" alt="Instagram App">
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="card-avatar">
                  <a class="card-thumbnail rounded sq-100" href="#">
                    {% if profile_image %}
                      <img class="card-img-top img-responsive" style="max-height: 100%"src="{{profile_image.url}}">
                    {% else %}
                      <img class="img-responsive" src="{% static 'admin_panel/img/8447261358.jpg' %}" alt="Instagram">
                    {% endif %}
                  </a>
                </div>
                <div class="card-body">
                  <h3 class="card-title">{{name}}</h3>
                  <!-- <p class="card-text">
                    <span class="app-users">
                     <span class="icon icon-map-marker"></span>
                     <strong>City</strong>: Usa
                    </span>
                  </p> -->
                  <p class="card-text">
                    <span class="app-users">
                     <span class="icon icon-map-marker"></span>
                     <strong>Email</strong>: {{email}}
                    </span>
                  </p>
                  <p class="card-text">
                    <span class="app-users">
                     <span class="icon icon-phone"></span>
                     <strong>Phone</strong>: {{mobile}}
                    </span>
                  </p>
                  <p class="card-text">{{about|default_if_none:'' }}</p>
                  <div class="col-md-12 text-center">
                     <a href="/ad/accounts/profile/edit/" class="">
                      <button class="btn btn-primary btn-sm" type="button">Edit profile</button>
                     </a>
                     <a href="/ad/accounts/change_password/">
                        <button class="btn btn-primary btn-sm" type="button">Change Password</button>
                      </a>
                 </div>
                </div>
              </div>
            </div>
       </div>
      </div>

    </div>
      {% include 'base/footer.html' %}
